@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'AfacadFlux';
        font-weight: 400;
        font-display: swap;
        src: url(./assets/fonts/AfacadFlux-Regular.ttf);
    }

    @font-face {
        font-family: 'AfacadFlux';
        font-weight: 700;
        font-display: swap;
        src: url(./assets/fonts/AfacadFlux-Bold.ttf);
    }

    :root {
        font-size: 16px;
        font-family: 'AfacadFlux', sans-serif;
    }

    html,
    body,
    #root {
        height: 100vh;
    }

    label,
    p,
    span,
    div {
        @apply select-none;
    }

    /* Hide the password reveal button on Windows */
    input[type='password']::-ms-reveal {
        display: none;
    }

    .light {
        color: var(--neutral-900);
        background-color: var(--neutral-100);
    }

    .dark {
        color: var(--neutral-100);
        background-color: var(--neutral-900);
    }
}
